.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-gap: 20px;
}

.content_card{
  padding-top: 10px;
  width: 350px;
  height: fit-content;
  background-color:#A7E195;
  font-weight: 400;

}

.card{
  align-items: center;
  img{
    max-width: 280px;
    max-height: 280px;
  }
}